.header {
    height: 595px;
}

.body__head img {
    margin-top: 96px;
}

.body__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section {
    height: 396px;
    background: #EDF7FA;
}

.titles__body p:first-child {
    line-height: 60px;
    font-size: 22px;
    font-weight: 400px;
    padding-top: 9px;
    
}

.titles__body p:last-child {
    color: #00A8CC;
    font-size: 16px;
    line-height: 24px;
    padding-top: 28px;
}

.titles__body {
    display: flex;
    justify-content: space-between;
}

.body {
    width: 418px;
    height: 295px;
    background: #fff;
}

.unit__text {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    margin-left: 26px;
    padding-top: 24px;
    
}

.date p {
    line-height: 26px;
}
.date {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-left: 26px;
    letter-spacing: 1px;
    margin-top: 27px;
}

.units .main__unit {
    letter-spacing: 0.4px;
    font-size: 15px;
    margin-left: 26px;
}

.units {
    display: flex;
    justify-content: space-between;
}
