
.body__head img {
    margin-top: 96px;
}

.body__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section {
    
    background: #edf7fa;
}

.titles__body p:nth-child(1) {
    line-height: 60px;
    font-size: 22px;
    font-weight: 400px;
    padding-top: 9px;
}

.titles__body p:nth-child(2) {
    color: #00a8cc;
    font-size: 16px;
    line-height: 24px;
    padding-top: 28px;
}

.titles__body {
    display: flex;
    justify-content: space-between;
}

.body {
    width: 400px;
    padding: 24px 0 35px 23px; 
    background: #fff;
    margin-bottom: 32px;
}

.unit__text {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    
   
}

.date p {
    line-height: 26px;
}
.date {
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    
    letter-spacing: 1px;
    margin-top: 27px;
}

.units .main__unit {
    letter-spacing: 0.4px;
    font-size: 15px;
    
}

.units {
    display: flex;
    justify-content: space-between;
}

.body__heading p {
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
}
