html {
    box-sizing: border-box;
    color: #21243D;
}
.container {
    margin: 0 auto;
    width: 856px;
}

.navigation__bar {
    
    display: flex;
    justify-content: flex-end;

    
    gap: 36px;
    line-height: 29.38px;
    padding-top: 27px;
}

.navigation__bar a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.navigation__bar span {
    color: #ff6464;
}

.titles__header {
    font-weight: 700;
}

.titles__header .heading {
    
    font-size: 44px;
    line-height: 60px;
    display: inline-block;
    margin-top: 172px;
}

.main__unit {
    margin-top: 23px;
    font-size: 16px;
    font-weight: 400;
    color: #21243d;
    letter-spacing: 1px;
    line-height: 24px;
}

.titles__header .button {
    display: inline-block;
    background: #ff6464;
    border-radius: 2px;
    padding: 9px 21px;
    margin-top: 32px;
}



.titles__header .button a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}    

.periphery .year {
    display: inline-block;
    font-weight: 900;
    font-size: 18px;
    line-height: 16px;
    padding: 8px 10px 6px 10px;
    background: #142850;
    color: #fff;
    border-radius: 16px;
}

.periphery p:nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.periphery {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 26px;
}

.work__unit {
    margin-top: 46px;
    display: flex;
    gap: 18px;
}

.titles {
    margin-top: -8px;
}